#signin {
  background-color: #fdfaf7;
}

.bg-login {
  background-color: #34b1aa;
  height: 100%;
  position: relative;
}

.auth-primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 160px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: #1f3f49;
  color: #fff;
  font-family: f-bold;

  &:hover {
    border: 2px solid #34b1aa;
  }
}
.terms-conditions {
  position: absolute;
  bottom: 20px;
}
.graphics-img {
  @media screen and (max-width: 1366px) {
    height: 320px;
    width: 320px;
  }
}
